.mobile-swiper{
    display: none;
    width: 100%;
}
.swiper {
    width: 100%;
    height: 300px;
    cursor: pointer;
  }
.swiper-slide img{
    width: 100%;
    height: 100%;
}
  .swiper-slide .slider-div{
width: 100%;
height: 100%;

  }
  .swiper-slide .slider-1{
width: 33.33%;
height: 100%;

  }

  .swiper-slide .slider-2{
width: 33.33%;
height: 100%;

  }

  .swiper-slide .slider-3{
width: 33.33%;
height: 100%;

  }




@media (min-width: 320px) and (max-width: 991px ) {
    .mobile-swiper{
        display: block;
    }
  
}